.boutique__banner {
  width: 100%;
  height: 240px;
  background-image: url(../res/boutiqueBanner.png);
  display: flex;
  align-items: flex-end;
  font-family: "PT Sans";
  position: sticky;
  top: 0;
}

.banner__detail {
  margin-bottom: 20px !important;
}

.banner__detail h1 {
  font-size: 47px;
  line-height: 61px;
  color: #7daf3f;
}

.banner__detail div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 128px;
}

.banner__detail p {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.5;
}

.boutique__body {
  font-family: "PT Sans";
  background-color: #f8f8f8;
  position: relative;
}

.boutique__middle {
  padding-top: 40px;
  display: flex;
  align-items: flex-start;
  max-width: 1108px;
  margin: 0 auto;
}

.boutique__middle__left {
  margin: 0 8px;
}

.categories {
  height: 369px;
  width: 260px;
  border: 1px solid #e2e2e2;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.categories h1 {
  font-size: 20px;
  line-height: 26px;
  color: #1f1f1f;
  margin: 27px 0 20px 30px;
}
.categories li {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: #6f6c6c;
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.categories li:first-child {
  justify-content: space-between;
  font-size: 17px;
  line-height: 22px;
  color: #f7f7f7;
  background-color: #7daf3f;
}

.categories li:nth-child(2n) {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.under__categories {
  height: 478px;
  width: 260px;
  padding: 28px 28px 0 20px;
  color: #ffffff;
  background-image: linear-gradient(179deg, #4d302b 0%, #653d36 100%);
  position: relative;
  overflow: hidden;
}

.under__categories h2 {
  font-size: 20px;
  line-height: 26px;
  margin: 30px 0 20px;
}
.under__categories p {
  font-size: 16px;
  line-height: 20px;
}

.under__categories svg {
  position: absolute;
  left: 13px;
  bottom: 70px;
  transform: scale(3) rotate(-18deg);
  fill: #7daf3f;
}

.under__categories img:last-child {
  position: absolute;
  right: 20px;
  bottom: 25px;
}

.choix {
  width: 334px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px 8px;
}

.choix p {
  font-size: 16px;
  line-height: 20px;
  color: #6f6c6c;
}

.choix p:first-child {
  font-weight: bold;
  color: #1f1f1f;
}

.product__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.afficher {
  height: 59px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 31px;
  color: #4d302b;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  margin: 56px 8px 0;
}

.boutique__body::after {
  content: "";
  display: block;
  height: 115px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .categories {
    height: 312px;
    width: 200px;
  }
  .categories h1 {
    line-height: 15px;
  }

  .categories li {
    line-height: 10px;
    height: 50px;
  }

  .under__categories {
    height: 460px;
    width: 200px;
  }

  .under__categories svg {
    left: 3px;
    bottom: 34px;
    transform: scale(2) rotate(-18deg);
  }

  .choix {
    width: 300px;
  }

  .boutique__body::after {
    height: 60px;
  }

  .afficher {
    margin: 30px 8px 0;
  }
}

@media screen and (max-width: 400px) {
  .boutique__banner {
    height: 140px;
  }
  .boutique__middle {
    padding-top: 20px;
    display: block;
  }
  .categories {
    height: 125px;
    width: auto;
    margin-bottom: 20px;
  }
  .categories h1 {
    font-size: 16px;
    line-height: 0;
    margin: 20px 15px;
  }
  .categories ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .categories li {
    font-size: 12px;
    height: 30px;
    padding: 0 10px;
    margin: 0 0 8px 8px;
    border: 1px solid #e2e2e2;
  }
  .under__categories {
    margin: 0 auto;
    height: 400px;
    padding: 15px;
  }
  .under__categories svg {
    left: 2px;
    bottom: 34px;
    transform: scale(2) rotate(-18deg);
  }
  .choix {
    width: auto;
    justify-content: space-evenly;
    margin: 20px 0 15px;
  }
  .choix p {
    font-size: 14px;
  }
}
