.product {
  width: 260px;
  height: 355px;
  border: 1px solid #e2e2e2;
  position: relative;
  font-family: "PT Sans";
  overflow: hidden;
  margin: 15px 8px;
  background-color: #ffffff;
}

.product__img {
  height: 253px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.product__bottom {
  width: 100%;
  height: 102px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.product__bottom__container {
  height: 100%;
  width: 100%;
  padding: 0 24px 21px 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  opacity: 0;
  transition: 0.3s;
}

.product__bottom p {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  color: #7daf3f;
}

.product__detail {
  height: 102px;
  width: 100%;
  padding: 10px 24px 0 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: 0.3s;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  color: #1f1f1f;
}

.product__price {
  font-size: 23px;
  font-weight: bold;
  line-height: 29px;
  color: #b7b7b7;
  transition: 0.3s;
}

.product button {
  height: 36px;
  width: 104px;
  outline: none;
  border: none;
  background-color: #7daf3f;
  border-radius: 5px;
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 147px;
}

.product:hover .product__img {
  top: -33px;
  transition: 0.3s;
}
.product:hover .product__bottom__container {
  opacity: 1;
  transition: 0.3s;
}

.product:hover .product__detail {
  bottom: 65px;
  transition: 0.3s;
}

.product:hover .product__price {
  color: #4d302b;
  transition: 0.3s;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .product {
    width: 200px;
    height: 280px;
  }
  .product__img {
    height: 185px;
  }
  .product__detail {
    height: 80px;
  }
  .product button {
    width: 90px;
    font-size: 10px;
    left: 95px;
  }
}
